:root {
    --greyColor: rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8eceb;
    color: #252523;
    height: 100%;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
html {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: 95%;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
    text-transform: lowercase;
}

.header .header__logo {
    /* text-align: start; */
}

.header__nav .header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-auto-flow: column;
    grid-gap: 20px;
    font-weight: 600;
}

.header .header__btns {
    display: flex;
    align-items: center;
}

.header .header__btn {
    text-transform: uppercase;
    fill: var(--greyColor);
}

.header .header__btn:last-child {
    color: var(--greyColor);
    margin-left: 10px;
    font-weight: 600;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    height: 100%;
}

.main .main__photo {
    background-image: url("https://i.pinimg.com/564x/4a/d2/43/4ad243a9f00a8583d70876fbf28ec3ae.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}

.main .main__content {
    align-self: center;
}

.main .main__pages {
    padding-left: 100px;
}

.main .main__title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 50px;
    padding-left: 100px;
}

.main__pages .main__current-page {
    font-size: 45px;
    font-weight: 600;
}

.main__pages .main__total-pages {
    font-size: 20px;
    color: var(--greyColor);
    font-weight: 600;
}

.navigation {
    position: absolute;
    bottom: 0;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12.5px;
}

.navigation .navigation__arrow {
    font-size: 20px;
    color: var(--greyColor);
}

.navigation svg {
    fill: var(--greyColor);
}

.navigation .navigation__icon {
    margin-right: 10px;
}

.navigation .navigation__icon:last-child {
    margin-right: 0;
}